
[*.{cs,vb}]
dotnet_analyzer_diagnostic.category-Style.severity = warning
dotnet_diagnostic.IDE0130.severity = warning

dotnet_style_namespace_match_folder = true:warning
csharp_style_namespace_declarations = file_scoped:warning